<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="../static/emoji.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <textarea id="input" style="width: 400px; height: 150px" onkeyup="parseEmoji()" onchange="parseEmoji()"></textarea>
    <div id="out" style="width: 400px; min-height: 150px; background-color: #eee; padding: 4px;"></div>

    <script src="../static/emoji.js" type="text/javascript"></script>
    <script src="../static/index.js" type="text/javascript"></script>
</body>
</html>